@tailwind base;
@tailwind components;
@tailwind utilities;

.boxIcon {
  border: 1px solid #ccc;
  border-radius: 50%;

  width: 70px;
  height: 70px;
  position: absolute;
  top: 15px;
  right: 10px;
}
.boxIcon1 {
  background: #fff url(/imgLand/task-daily-01.png) no-repeat 50%;
}
.boxIcon2 {
  background: #fff url(/imgLand/document-validation.png) no-repeat 50%;
}
.boxIcon3 {
  background: #fff url(/imgLand/job-link.png) no-repeat 50%;
}
.boxIcon4 {
  background: #fff url(/imgLand/message-user-01.png) no-repeat 50%;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  /* direction: rtl; */
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* a {
  font-weight: 500;
   color: #646cff; 
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
} */

.body {
  * {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    direction: ltr;
  }
  .bodyTopBlogLanding {
    width: 10361px;
    height: 546px;
    top: 2554px;
    left: 39px;
    gap: 48px;
    opacity: 0px;
  }
  body-forgot {
    font-family: "Noto Serif", serif, Ariel, Helvetica, sans-serif;
    background: #ffffff;
    width: 1440px;
    height: 1024px;
  }
  backF {
    width: 748px;
    height: 960px;
    top: 32px;
    left: 32px;
    gap: 0px;
    border-radius: 32px 32px 32px 32px;
    opacity: 0px;
  }
  /* b {
    color: blue;
  } */

  @import url("https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap");
  @import "./index.css";
  @import url("https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap");
  @import "./index.css";
}
